.header{
    height: var(--header--height);
    background-image: linear-gradient(0, #ff6333,  #f63f2e);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    position: relative;
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.6rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    list-style: none;
    border-radius: 2px;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 155px;
    background-color: var(--white--color);
    box-shadow: 0 1px 3px #ccc;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 17px 25px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white--color) transparent;
    top: -26px;
    right: 40px;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    width: 125px;
    height: 20px;
    position: absolute;
    top: -15%;
    right: 0;
}


.header__navbar-user-item a{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 16px;
    font-weight: 400;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #FAFAFA;
    color: #01bdca;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white--color);
    font-weight: 300;    
    text-decoration: none;
    z-index: 3;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separete::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white--color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 2px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;

}

.heafer__navbar-item--title{
    cursor: text;
    color: var(--white--color);
}

.header__qr{
    position: absolute;
    width: 186px;
    background-color: var(--white--color);
    top: 118%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__navbar-item-qr-notify:hover .header__qr{
    display: block;
}

.header__navbar-notify:hover .header__notify{
    display: block;
}

.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18%;
    left: 0;
    top: -11%;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download{
    height: 15px;
}

.header__notify{
    background-color: var(--white--color);
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0;
    border: 1px solid #D3D3D3;
    transform-origin: 90% top;
    will-change: opacity, transform;
    animation: headerNotifyGrowth ease-in .2s;
    cursor: default;
    display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white--color) transparent;
    top: -28px;
    right: 0;
}

.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    right: 0;
    top: -20px;
    height: 30px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header{
    background-color: var(--white--color);
    height: 40px;
}

.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    
}

.header__notify-list{
    padding-left: 0;

}

.header__notify-item{
    display: flex;
}


.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-viewed{
    background-color: rgba(238, 75, 43, 0.08);
    
}

.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-content{
    margin-left: 12px;
    
}

.header__notify-title{
    font-size: 1.4rem;
    color: var(--black--color);
    font-weight: 400;
    margin: 0;
    line-height: 1.6rem;
}

.header__notify-desc{
    font-size: 1.2rem;
    color: var(--black--color);
    line-height: 1.4rem;
    margin: 0;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer--btn{
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    margin: auto;
    padding: 8px 16px;
    width: 100%;
    text-align: center;
}

.auth-form{
    display: block;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    margin: 12px 39px 24px;
    padding: 0px 12px;
    
}

.auth-form__heading{
    font-size: 2.0rem;
    color: var(--text-color);
    font-weight: 400;

}

.auth-form__switch-btn{
    padding-top: 20px;
    font-size: 1.4rem;
    color: rgba(211, 80, 65, 1);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__switch-btn:hover,
.btn_social:hover{
    opacity: .8;
}


.auth-form__group{
    margin: 0px 39px;
}

.auth-form__input{
    width: 100%;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px;
    border: 1px solid #ecebec;
    outline-color: #ecebec;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin: 0px 40px;
}

.auth-form__help{
    display: flex;
    padding: 24px 0px;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 6px;
}



.auth-form__help-forgot{
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__help-separate{
    display: block;
    border-left: 2px solid #ecebec;
    height: 22px;
    margin: 2px 16px 4px;
}

.auth-form__policy-text{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.auth-form__policy-link{
    text-decoration: none;
    color: rgba(211, 80, 65, 1);
}

.auth-form__controls{
    margin: 80px 39px 20px 0px;
    display: flex;
    justify-content: flex-end;
}


.btn--primary{
    background-color: #e44027;
    color: var(--white--color);
}

.auth-form__socials{
    display: flex;
    background-color: #deddde;
    justify-content: center;
}

.btn_social{
    padding: 4px 0px;
    background-color: var(--white--color);
}

.btn_social span{
    margin-top: 5px;
    margin-right: 45px;
}

.btn--with-icon{
    display: flex;
    width: 260px;
    text-decoration: none;
    margin: 10px 6px;
    justify-content: space-around;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 4px;
}


.btn--with-icon i {
    font-size: 2.4rem;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

.btn--with-icon:first-child{
    background-color: #304983;
    color: var(--white--color);
}

.header-with-search{
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.header__icon{
    width: 200px;
}
.header__link{
    text-decoration: none;
    color: transparent;
}

.header__icon-img{
    width: 150px;
    font-size: 2.4rem;
}

.header__search{
    height: 40px;
    background-color: var(--white--color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 145px;
    text-align: center;
}

.header__cart-icon{
    color: var(--white--color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.4rem;

}

.header__search-selection{
    border-left: 2px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;

}

.header__search-selection-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
    position: relative;
    top: 1px;

}

.header__search-button{
    background-color: var(--primary-color);
    height: 34px;
    border: none;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    
}

.header__search-button:hover {
    cursor: pointer;
    background-color: #dc675a;
}



.header__search-button-icon{
    color: var(--white--color);
    font-size: 1.6rem;
}

.header__search-option{
    position: absolute;
    top: 140%;
    right: 0;
    padding-left: 0;
    list-style: none;
    width: 150px;
    box-shadow: 0 1px 3px #ccc;
    border-radius: 2px;
    display: none;
}

.header__search-option::after{

    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -18px;
    left: 0;
}

.header__search-selection:hover
.header__search-option{
    display: block;
}

.header__search-option-item{
    background-color: var(--white--color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #dcdcdc;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white--color);
    box-shadow: 0 1px 3px #999;
    border-radius: 2px;
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-header{
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__search-history-selector{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
    
    
}

.header__search-history-item{
    height: 38px;
    padding: 0 10px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    top: -25px;
    right: 1px;
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white--color) transparent;
    cursor: pointer;

}

.header__cart-list{
    background-color: var(--white--color);
    position: absolute;
    width: 400px;
    top: calc(100% + 11px);
    right: -2px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.8);
    display: none;
    cursor: default;
    z-index: 2;
}

.header__cart-list--no-cart{
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-list-img,
.header__cart-list--no-cart .header__cart-list-msg{
    display: block;
}
 
.header__cart-list-img{
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.header__cart-list-msg{
    display: none;
    padding: 0;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-count{
    position: absolute;
    top: -11px;
    right: -11px;
    background-color: var(--white--color);
    color: var(--primary-color);
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #EE4D2D;
}

.header__cart-heading{
    color: var(--black--color);
    font-size: 1.4rem;
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    height: 65vh;
    padding-left: 0;
    overflow-y: scroll;
    list-style: none;
    color: var(--black--color);
    margin: 0;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}

.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-info{
    width: 100%;

    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__cart-item-name{
    flex: 1;
    text-align: left;
    padding-right: 16px;
    line-height: 2rem;
    height: 2rem;
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-mul{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.header__cart-item-des{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-del{
    font-size: 1.2rem;
}

.header__cart-item-del:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px;
}

.app_container{
    background-color: #F5F5F5;
}

.category{
    background-color: var(--white--color);
}

.category__heading{
    margin: 0;
    color: var(--text-color);
    border-radius: 2px;
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon{
    font-size: 1.6rem;
    position: relative;
    margin-right: 4px;
}

.category-list{
    padding-left: 0;
    list-style: none;
}


.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 16px;
    transform: translateY(calc(-50%));
    display: block;
    border: 6px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 10px 30px;
    right: 0;
}


.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 12px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__page-num{
    font-size: 1.4rem;
    margin-right: 22px;
    color: var(--text-color);
}

.home-filter__page-num-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;

}

.home-filter__page-btn{
    display: flex;
    flex: 1;
    background-color: var(--white--color);
    text-decoration: none;
    
}

.home-filter__page-icon{
    margin: auto;
    color: #555;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable{
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disable .home-filter__page-btn{
    color: #ccc;
}

.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white--color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear .1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100%;
    background-position: center;
}

.home-product-item__name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 10px 4px;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product__des{
    display: flex;
    margin-left: 10px;
    cursor: default;
    user-select: none;   
}

.home-product__des-item{
    min-width: 67px;
    color: red;
    padding: 1px;
    border: 1px solid red;
    box-shadow: 0.05px 0.05px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home__product-item__price-frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 6px 0;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    margin-left: 10px;
    color: var(--text-color);
    text-decoration: line-through;
}

.home-product-item__price-current{
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__ship-icon{
    font-size: 1.5rem;
    color: #00bfa5;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 6px 10px;
}

.home-product-item__like{
    font-size: 1.3rem;
}

.home-product-item__like-icon-empty{
    display: block;
}

i.home-product-item__like-icon-fill{
    color: red;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rate{
    transform: scale(0.8);
    transform-origin: right;
    cursor: default;
    color: #d5d5d5;
    margin: 1px 0 0 auto;
}

.home-product-item__rate-star--gold{
    color: var(--star--color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    margin-left: 6px;
}

.home_product-item__address{
    display: flex;
    margin-right: 10px;
}

.home_product-item__address-name{
    font-size: 1.2rem;
    margin-left: auto;
    color: #aeaeae;
    font-weight: 400;
}

.home_product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.6rem;
}

.home_product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home_product-item__favourite i{
    margin: 0 3px 0 3px;
    font-size: 1rem;
    color: var(--white--color);
}

.home_product-item__favourite-name{
    padding-right: 4px;
    color: var(--white--color);
    font-size: 1.2rem;
    font-weight: 500;

}

.home_product-item__discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 33px;
    color: rgb(255, 216, 57, 1);
    background-color: currentColor;
    text-align: center;
}

.home_product-item__discount::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 18px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home_product-item__discount-percent{
    font-size: 1.2rem;
    color: #ee4d2d;
    font-weight: 500;
}

.home_product-item__discount-title{
    position: relative;
    top: -3px;
    font-size: 1.2rem;
    color: var(--white--color);
    font-weight: 500;
}


.home-product__pagination{
    margin: 50px 0 18px 0;
}

.footer{
}